.masthead {
  background-image: url("http://i300.photobucket.com/albums/nn32/lucy_mac/coffeecups_cropped_zps3dbd5c92.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: -1em -1em;
  padding: 4em 0;
  border-top: solid 1em #db4437;
}

.masthead-intro {
  text-align: center;
  margin-bottom: 0.5em;
  font-family: "Gentium Book Basic", "Helvetica Neue", sans-serif;
  font-size: 41px;
  color: #ffffff;
}

.masthead-heading {
  text-align: center;
  margin-top: -0.2em;
  color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 2px 2px #db4437;
  font-size: 81px;
}

section {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 38em;
  margin: auto;
  margin-top: 2em;
}

h2 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8em;
  color: #db4437;
}

h3 {
  font-family: "Gentium Book Basic", "Helvetica Neue", sans-serif;
  font-size: 1.1em;
  color: #453C35;
}

section p {
  font-size: 1em;
  line-height: 1.5em;
}

li {  
  font-size: 1em;
  line-height: 1.5em;
}

section a {
  text-decoration: none;
  color: #db4437;
}

section a:hover {
  color: #453C35;
}

footer {
  margin: 4em -1em -1em -1em;
  background-color: #db4437;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  color: #ffffff;
  text-align: center;
  padding: 4em 0;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer li a {
  font-size: 1.3em;
  text-decoration: none;
  color: #453C35;
  font-weight: bold;
}

footer li a:hover {
  color: #ffffff;
}

.photo-credit {
  font-size: 0.8em;
  padding-top: 1em;
  letter-spacing: 0.1em;
}

.photo-credit a {
  color: #453C35;
  text-decoration: none;
}

.photo-credit a:hover {
  color: #ffffff;
}
