/*Box-sizing*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*Navigation*/

.navigation {
	background-color: #fff;
	position: fixed;
	z-index: 1;
	width: 100%;
	border-bottom: solid 1px #e0dbd9;
}

.nav-container {
	width: 65%;
	height: 4em;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
}

#my-name {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.8em;
	font-weight: 300;
	color: rgba(235, 249, 34, 1);
	padding-top: 0.7em;
	padding-bottom: 0.3em;
	float: left;
}

.nav-options {
	float: right;
	padding-top: 2em;
	padding-bottom: 0.5em;
}

.nav-options li {
	display: inline-block;
	padding-right: 1.7rem;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
}

.nav-options li a {
	color: #878080; /*dark grey*/
	text-decoration: none;
}

.nav-options li a:hover {
	color: #fce72d; /*yellow*/
	text-decoration: none;
}

#active a {
	font-weight: 500;
	color: rgba(235, 249, 34, 1);  /*Lime green*/
}

/*Header*/

.masthead {
	background-image: url(https://ununsplash.imgix.net/uploads/141319062591093cefc09/ad50c1f0?fit=crop&fm=jpg&h=725&q=75&w=1050);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 45.938rem;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	padding: 14em 0;
	text-align: center;
}

.masthead-intro {
	font-size: 3.7rem;
	font-weight: lighter;
	line-height: 70px;
	margin-top: 1em;
	text-shadow: 1px 1px #ebf922;
}

.masthead-heading {
	font-size: 1.6rem;
	font-weight: lighter;
	line-height: 50px;
	margin-bottom: 0.5em;
}

.masthead-button {
	text-align: center;
	height: 3em;
	width: 9em;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 1.1em;
}

.masthead-button a {
	text-decoration: none;
	color: #fff;
}

.masthead-button:hover {
	background-color: rgba(235, 249, 34, 1);  /*Lime green*/
}


/*Skills*/

section {
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 4rem;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.skills {
	background-color: #EBF922;
	color: #fff;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
}

.skills h2 {
	font-size: 2.9rem;
	font-weight: lighter;
	padding: 1em;
}

ul.skills-list {
	width: 840px;
	margin: 0 auto;
}

.skills-list li {
	display: inline-block;
	vertical-align: top;
	padding: 20px 20px 20px 0px;
	width: 33%;
}

.skills-list li:last-child {
	padding-right: 0px;
}

h3 {
	font-size: 1.5rem;
	margin-top: 1.1rem;
	margin-bottom: 0.7em;
}

.skill-caption h3 {
	color: #35342d;
}

.skill-caption {
	font-size: 1rem;
	line-height: 1.4em;
	margin-top: 1rem;
	margin-bottom: 0.5em;
	color: #514f44;
}

/*featured work*/

.featured-work {
	width: 65%;
	min-width: 700px;
	margin: 2em auto;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #35342d;
}

.featured-work-list {
	max-width: 100%;
	margin: 1em auto;

}

.featured-work-list li {
	max-width: 40%;
	min-width: 230px;
	display: inline-block;
	border: 1px solid #e0dbd9;
	margin-top: 2em;
	margin-bottom: 2em;
}


.work-item-left {
	float: left;
	margin-right: 2em;
}

.work-item-right {
	float: right;
	margin-left: 2em;
}

/*About-me*/

.about-me {
	clear: both;
	width: 65%;
	margin: 4em auto;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 2em;
}

.about-me p {
        margin: 10px auto;
}

/*Contact*/

#contact {
	clear: both;
	line-height: 2em;
	font-weight: 500;
}

b {
	font-weight: 400;
}

/*footer*/

div.footer {
	clear: both;
	max-width: 810px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333333;
	text-align: center;
	padding: 3rem 2rem;
	border-top: solid 1px #e0dbd9;
}

.social li {
	display: inline-block;
	margin: 1rem 0.5rem;
}

.trademark {
	font-size: 0.8rem;
	color: #878080;
	font-weight: lighter;
	margin-top: 1rem;
}
