/* Reset stylesheet:
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End reset stylesheet*/

/*Box-sizing*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*Navigation section*/

.navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: solid 1px #e0dbd9;
}

.nav-container {
	width: 65%;
	height: 4em;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
}

#my-name {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.8em;
	font-weight: 300;
	color: rgba(235, 249, 34, 1);
	padding-top: 0.7em;
	padding-bottom: 0.3em;
	float: left;
}

.nav-options {
	float: right;
	padding-top: 2em;
	padding-bottom: 0.5em;
}

.nav-options li {
	display: inline-block;
	padding-right: 1.7rem;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
}

.nav-options li a {
	color: #878080;
	text-decoration: none;
}

.nav-options li a:hover {
	color: #fce72d;
	text-decoration: none;
}

#active a {
	font-weight: 500;
	color: rgba(235, 249, 34, 1);
}

/*Header*/

.masthead {
	background-image: url(https://ununsplash.imgix.net/uploads/141319062591093cefc09/ad50c1f0?fit=crop&fm=jpg&h=725&q=75&w=1050);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 45.938rem;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #ffffff;
	padding: 14em 0;
	text-align: center;
}

.masthead-intro {
	font-size: 3.7rem;
	font-weight: lighter;
	line-height: 70px;
	margin-top: 1em;
	text-shadow: 1px 1px #def940;
}

.masthead-heading {
	font-size: 1.6rem;
	font-weight: lighter;
	line-height: 50px;
	margin-bottom: 0.5em;
}

.masthead-button {
	text-align: center;
	height: 3em;
	width: 9em;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-size: 1.1em;
}

.masthead-button a {
	text-decoration: none;
	color: #ffffff;
}

.masthead-button:hover {
	background-color: rgba(235, 249, 34, 1);
}


/*Skills*/

.skills {
	background-color: rgba(235, 249, 34, 0.8);
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	text-align: center;
	padding-top: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 4rem;
}

.skills h2 {
	font-size: 2.8rem;
	font-weight: lighter;
	padding: 1em;
}

.skills-list li {
	display: inline-block;
	vertical-align: top;
	padding: 2rem 3rem;
	width: 33%;
}

.skill-caption h3 {
	font-size: 1.6rem;
	margin-top: 1rem;
	margin-bottom: 0.5em;
	color: #35342d;
}

.skill-caption {
	font-size: 1rem;
	line-height: 1.4em;
	margin-top: 1rem;
	margin-bottom: 0.5em;
	color: #35342d;
}

/*featured work*/

.featured-work {
	width: 65%;
	margin: 2em auto;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #35342d;
	font-size: 1.6rem;
}

.featured-work-list {
	max-width: 100%;
	margin: 1em auto;

}

.featured-work-list li {
	max-width: 35%;
	display: inline-block;
}

#work1-1 {
	float: left;
}

#work1-2 {
	float: right;
}

/*Contact*/

.contact {
	clear: both;
	padding: 4em;
}

/*footer*/

.footer {
	clear: both;
	max-width: 810px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333333;
	text-align: center;
	padding: 3rem 2rem;
	border-top: solid 1px #e0dbd9;
}

.social li {
	display: inline-block;
	margin: 1rem 0.5rem;
	border: solid 1px #e0dbd9;
	border-radius: 100%;
	padding: 0.6rem;
}

.trademark {
	font-size: 0.8rem;
	color: #878080;
	font-weight: lighter;
	margin-top: 1rem;
}
