/*variables*/
:root {
	--darkGrey: #35342d;
	--limeGreen: rgba(247, 238, 36, 1);
	--limeGreenBackground: rgba(247, 238, 36, 0.7);
	--lineBreak: #e0dbd9;
}

/*General styles*/

body {
	font-family: 'Open Sans', sans-serif; 
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

/*Navigation*/

.navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
	border-bottom: solid 1px var(--lineBreak);
}

/*Title*/
#my-name {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: var(--limeGreen);
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	float: left;
}

/*Header*/

.masthead {
	background-image: url(../images/Ferns_by-jan-erik-waider.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    max-height: 335px;
    margin-top: 60px;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 70px;
}

@media screen and (max-width: 768px) { 
	.masthead {
		padding-top: 20px;
    	padding-bottom: 50px;
	}
	.masthead-heading {
		margin-top: 65px;
	}
}

@media screen and (min-width: 768px) { 
	.masthead {
		padding-top: 90px;
    	padding-bottom: 90px;
		max-height: 400px;
	}
	.masthead h1 {
		font-size: 47px;
	}
	.masthead h2 {
		font-size: 25px;
	}
	.masthead-button {
		font-size: 19px;
	}
}

.masthead-heading {
	font-size: 30px;
	line-height: 1.2;
	text-shadow: 1px 1px var(--limeGreen);
	font-family: 'Raleway', sans-serif;
	margin-top: 30px;
	margin-bottom: 10px;
}

.masthead-overview {
	font-size: 22px;
	line-height: 1.4;
	margin-bottom: 50px;
}

.masthead-button {
	text-decoration: none;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; 
    padding: 8px 12px;
    margin-top: 30px;
    box-shadow: 2px 2px var(--limeGreen);
}
.masthead-button:hover {
	background-color: var(--limeGreenBackground);
	color: #fff;
}

/*Skills - GREEN SECTION*/

.process {
	background-color: var(--limeGreenBackground);
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.process h2 {
	font-size: 20px;
}

ul.process-list {
	padding-left: 0;
	margin-top: 30px;
    margin-bottom: 20px;
}

.process-list li {
	padding-bottom: 20px;
}

h3 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--darkGrey);
}

p {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--darkGrey);
}

p.large {
	font-size: 18px;
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 20px;
}

.green {
    color: var(--limeGreen);
}

/*featured work*/

@media screen and (min-width: 768px) { 
	.featured-work {
		margin-bottom: 30px;
	}
}

.featured-work h3,
.about-me h3 {           
	margin-top: 30px;
	padding-bottom: 3px;
	display: inline-block;
    border-bottom: solid 2px var(--limeGreenBackground);
}

.featured-work-list {      /*ul*/
	max-width: 100%;
	margin: 0 auto 50px auto;
	padding-left: 0;
}

.work-item {
	margin-top: 15px;
	margin-bottom: 40px;
	/*padding-left: 0;*/
}

@media screen and (min-width: 768px) { 
	.work-item {
		height: 220px;
		padding-right: 70px;
	}
}

.work-item img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.work-item img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.work-item p {
	color: var(--limeGreen);
	text-align: center;
}

#contact span {
	color: var(--limeGreen);
}

b {
	font-weight: 600;
}

.box {
	border: 2px solid var(--limeGreenBackground);
	border-radius: 3px;
	padding: 10px 25px;
	margin-top: 40px;
	box-shadow: 2px 2px var(--limeGreenBackground);
	display: inline-block;
}

/*footer*/

.footer {
	clear: both;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
	padding: 30px 20px;
	border-top: solid 1px var(--lineBreak);
}

.social {
	padding-left: 0;
}
.social li {
	display: inline-block;
	margin: 15px 7px;
}

.copyright {
	font-size: 12px;
	color: #878080;
	margin-top: 20px;
}

/* ICONS */
/* courtesy of Ivan Sugerman and Socicon */

@font-face {
    font-family: 'si';
    src: url('../images/social-icons/socicon.eot');
    src: url('../images/social-icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('../images/social-icons/socicon.woff') format('woff'),
         url('../images/social-icons/socicon.ttf') format('truetype'),
         url('../images/social-icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: si;
        src: url(../images/social-icons/socicon.svg) format(svg);
    }
}

.soc {
    overflow: hidden;
    margin: 0; 
	padding: 0;
    list-style: none;
}

.soc li {
    display: inline-block;
    *display :inline;
    zoom: 1;
}

.soc li a {
    font-family: si!important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
	width: 53px;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    color: var(--limeGreen);
    background-color: #ffffff;
}

.soc-github:before {
    content:'\e030';
}
.soc-twitter:before {
    content:'\e040';
}
.soc-linkedin:before {
    content:'\e049';
}
